{{- $params := .Scratch.Get "params" -}}

{{if isset .Params "keywords"}}
<meta name="keywords" content="{{ delimit .Params.Keywords " " }}" />
{{else}}
{{if isset .Params "tags"}}
<meta name="keywords" content="{{ delimit .Params.Tags ", " }}" />
{{else}}
<meta name="keywords" content="{{ delimit .Site.Params.Keywords ", " }}" />
{{end}}
{{end}}

{{if isset .Params "description"}}
<meta name="Description" content="{{ $params.description }}" >
{{else}}
<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">
{{end}}

<meta name="yandex-verification" content="bcf062eda39841d7" />
<meta name="yandex-verification" content="7ce8e380c28fe9bd" />
<meta name="p:domain_verify" content="319c291f435d12cdbe0857fa0deb5b4e" />
<meta name="google-site-verification" />

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">

{{- with .Site.Params.app.themeColor -}}
    <meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}
