{{- $params := .Scratch.Get "params" -}}

<div class="note">
    Чуть не забыл. Вы можете почитать меня в <a href="http://l.3lf.ru/twi">твиттере</a> или <a href="https://l.3lf.ru/telega">телеграме</a>, посмотреть мои фотографии в <a href="http://l.3lf.ru/insta">инстаграме</a>, подружиться со мной в <a href="http://l.3lf.ru/psn">PSN</a>, позлить меня на <a href="http://l.3lf.ru/twitch">твиче</a> пока я играю или посмотреть в <a href="http://l.3lf.ru/youtube">записи</a>. А самые лучшие человеки могут меня <a href="http://l.3lf.ru/donate">поддержать деньгой</a>.</p>
</div>